In [20]:
import pandas as pd
import numpy as np

In [ ]:
#Adapted from: https://github.com/ronakvijay/IMDB_Sentiment_Analysis/blob/master/Sentiment_Analysis.ipynb

In [5]:

import os

def fetch_reviews(path):
  data = []
  path = 'aclImdb/train/pos/'
  files = [f for f in os.listdir(path)]
  for file in files:
    with open(path+file, "r", encoding='utf8') as f:
      data.append(f.read())
      
  return data

In [10]:
df_train_pos = pd.DataFrame({'review': fetch_reviews('aclImdb/train/pos/'), 'label': 1})
df_train_neg = pd.DataFrame({'review': fetch_reviews('aclImdb/train/neg/'), 'label': 0})

df_test_pos = pd.DataFrame({'review': fetch_reviews('aclImdb/test/pos/'), 'label': 1})
df_test_neg = pd.DataFrame({'review': fetch_reviews('aclImdb/test/neg/'), 'label': 0})

In [9]:
df_train_pos.head()

                                              review  label
0  Bromwell High is a cartoon comedy. It ran at t...      1
1  Homelessness (or Houselessness as George Carli...      1
2  Brilliant over-acting by Lesley Ann Warren. Be...      1
3  This is easily the most underrated film inn th...      1
4  This is not the typical Mel Brooks film. It wa...      1

In [14]:
df_train_pos.shape

(12500, 2)

In [17]:
df_train_pos.dtypes

review    object
label      int64
dtype: object

In [22]:
# Merging all df's for data cleaning and preprocessing step.
df = pd.concat([df_train_pos, df_train_neg, df_test_pos, df_test_neg], ignore_index=True)
print("Total reviews in df: ", df.shape)
df.head()

Total reviews in df:  (50000, 2)

                                              review  label
0  Bromwell High is a cartoon comedy. It ran at t...      1
1  Homelessness (or Houselessness as George Carli...      1
2  Brilliant over-acting by Lesley Ann Warren. Be...      1
3  This is easily the most underrated film inn th...      1
4  This is not the typical Mel Brooks film. It wa...      1

In [32]:
df[df.label == 0].head()

                                                  review  label
12500  Bromwell High is a cartoon comedy. It ran at t...      0
12501  Homelessness (or Houselessness as George Carli...      0
12502  Brilliant over-acting by Lesley Ann Warren. Be...      0
12503  This is easily the most underrated film inn th...      0
12504  This is not the typical Mel Brooks film. It wa...      0

In [34]:
# A positive review 
df[df['label']==1].sample(n=1)['review'].iloc[0]

"The third and last part of the Bourne trilogy (duh), is lacking a bit in the story department, but covers it with extensive action scenes! Twi in particular take up quite some of the running time and make this movie better.<br /><br />The director and star (Damon) themselves agreed that it was difficult to find a story for the last part, because the end of the second movie was quite ... advanced story-wise. How they got around that? The action scenes, for once, but they did another thing too, which I can't reveal, because that would be a spoiler. But if you watch the movie, than you'll notice it! Funnily enough I read, that this adaptation of the Bourne books is the least accurate of all three films .. if that means anything to you :o)"

In [43]:
df[df.label == 0].sample(1)['review'].iloc[0]

24789    According to the book The Last of the Cowboy H...
Name: review, dtype: object

In [44]:
https://github.com/ronakvijay/IMDB_Sentiment_Analysis/blob/master/Sentiment_Analysis.ipynb

SyntaxError: invalid syntax (<ipython-input-44-9ccec85f8cfe>, line 1)

In [ ]:
https://towardsdatascience.com/a-gentle-introduction-to-natural-language-processing-e716ed3c0863